*{margin: 0}
.first, .second, .third{
	color: #fff;
	line-height: 120px;
	text-align: center;
	font-size: 30px;
}

.first{
	height: 120px;
	background-color: deeppink;
	margin-bottom: 20px;
}
@media (min-width: 500px){
	.first{
		float:left;
		width: 50%;
	}
	.second{
		float: left;
		width: 50%;
	}
	.third{
		clear: both;
	}
}


.second{
	height: 120px;
	background-color: #8fbc8f;
	margin-bottom: 20px;
}
.third{
	height: 120px;
	background-color: blue;
}
@media (min-width: 800px){
	.first{
		float: left;
		width: 33.33%
	}
	.second{
		float: left;
		width: 33.33%
	}
	.third{
		float: left;
		width: 33.33%;
		clear:none;
		}
}